body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.ad {
    background: #2f2f2f;
}

.container {
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.rewind,
.pause,
.play,
.mute,
.equalizer,
.fullscreen {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 10;
}

.rewind:hover,
.pause:hover,
.play:hover,
.mute:hover,
.equalizer:hover,
.fullscreen:hover {
    cursor: pointer;
}

.rewind {
    background: url(images/rewind.png) left top no-repeat;
}

.pause {
    background: url(images/pause.png) left top no-repeat;
    left: 40px;
    display: none;
}

.play {
    background: url(images/play.png) left top no-repeat;
    left: 40px;
    display: none;
}

.paused .play {
    display: block;
}

.playing .pause {
    display: block;
}

.mute {
    left: 80px;
    display: none; /* javascript will handle showing */
}

.mute.mute-off {
    background: url(images/mute-off.png) left top no-repeat;
}

.mute.mute-on {
    background: url(images/mute-on.png) left top no-repeat;
}

.fullscreen {
    background: url(images/fullscreen.png) left top no-repeat;
    right: 0;
    top: 0;
    bottom: auto;
    left: auto;
}

.link {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    z-index: 9
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    display: none;
    width: 38px;
    height: 38px;
    margin: -19px 0 0 -19px;
    background: url(images/spinner.png) left top no-repeat;
}

.socials {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: inline-block;
    z-index: 10;
}

.social {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    float: right;
    opacity: 0.5;
    width: 38px;
    height: 38px;
}

.social[href=''] {
    display: none;
}

.social.youtube {
    background-image: url(images/youtube.png);
}

.social.facebook {
    background-image: url(images/facebook.png);
}

.equalizer {
    left: 80px;
    box-sizing: border-box;
}

.bar {
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    background: white;
    bottom: 14px;
    height: 3px;
    position: absolute;
    width: 3px;      
}

@-webkit-keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 14px;        
    }
}

.bar:nth-child(1)  { left: 1px; -webkit-animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; -webkit-animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; -webkit-animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; -webkit-animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; -webkit-animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; -webkit-animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; -webkit-animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; -webkit-animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; -webkit-animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; -webkit-animation-duration: 442ms; }​
